doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    title Lions' Den
    meta(name='description', content='Where the Pride of Terra converges. The HQ of the Lion DAO.')
    link(rel='manifest' href='/manifest.json')
  body: #omega
    noscript.text-center.italic
      p Sorry, every dApp requires JavaScript. Please enable JavaScript if you wish to link your wallet.
    #app
