@use './_theme' as *

*
  box-sizing: border-box

:root
  --page-width: 1000px
  --spacing: 20px
  @media screen only and (max-width: 1000px)
    --page-width: 100%
  @media screen only and (max-width: 600px)
    --spacing: 10px

html, body
  font-family: sans-serif
  font-size: 16px
  margin: 0
  padding: 0
  background-color: $background
  color: $onBackground

@for $i from 1 to 6
  h#{$i}
    font-size: calc(2.4rem - #{$i * 0.2rem})
    margin: 0
    padding: 0

a, a:visited
  color: $highlightOnBackground
  text-decoration: none
  &:hover
    text-decoration: underline

p
  font-size: 1rem
  line-height: 1.5rem

#omega
  display: flex
  flex-direction: column
  align-items: stretch
  width: 100vw
  height: 100vh
  overflow: auto

.surface, .surface-primary
  color: var(--on-surface)
  background-color: rgba(255, 255, 255, 0.1)
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)

  a, a:visited
    color: var(--on-surface-highlight)
  &.surface-primary
    background-color: var(--surface-primary)
.shadow
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)

.center-h
  display: flex
  flex-direction: column
  align-items: center
.center-vh
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center

.Page
  display: flex
  flex-direction: column
  width: var(--page-width)
  align-items: stretch
  flex-grow: 1
  padding: 1rem
  margin: 0 auto
  gap: var(--spacing)
  overflow: auto
.Page-header
  margin-bottom: 60px

.italic
  font-style: italic
.highlight
  color: $highlightOnBackground
